<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup" errorMessage="Date is required.">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Select a start date</ng-template>

      <app-start-date></app-start-date> &nbsp;&nbsp;<button mat-raised-button matStepperNext color="primary">Calculate delivery date</button>

    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Delivery Dates</ng-template>
      <div class="container pt-1">
        <div class="row">
          <div class="col-sm">
            <app-property-site></app-property-site>
          </div>
          <div class="col-sm">
            <app-brochure-proof></app-brochure-proof>
          </div>
          <div class="col-sm">
            <app-mailer-proof></app-mailer-proof>
          </div>
          <div class="col-sm">
            <app-eblast></app-eblast>
          </div>
        </div>
      <div class="row">
        <div class="col-sm">
          <app-social-boost></app-social-boost>
        </div>
        <div class="col-sm">
          <app-update-published></app-update-published>
        </div>
      <div class="col-sm">
        <app-video-tv-proof></app-video-tv-proof>
      </div>
      <div class="col-sm">
        <app-advertisement-published></app-advertisement-published>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button mat-raised-button color="primary" (click)="stepper.reset()" color="primary">Start over</button>
    </div>
    </div>

    </form>
  </mat-step>
</mat-horizontal-stepper>

