

<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup" errorMessage="Date is required.">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Select a start date</ng-template>

      <app-start-date></app-start-date>
      <button mat-raised-button matStepperNext color="primary">Calculate delivery</button>

    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Delivery Dates</ng-template>
        <app-property-site></app-property-site>
        <app-brochure-proof></app-brochure-proof>
        <app-mailer-proof></app-mailer-proof>
        <app-eblast></app-eblast>
        <app-social-boost></app-social-boost>
        <app-update-published></app-update-published>
        <app-video-tv-proof></app-video-tv-proof>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

