<mat-card class="mcard">
  <mat-card-header>
    <mat-card-title>Advertisement Published**</mat-card-title>
    <mat-card-subtitle>11-56 Business Days</mat-card-subtitle>
  </mat-card-header>
  <div class="text-center">
      <img mat-card-image class="icon rounded-circle" src="https://backend.mycbdesk.com/media/app-images/53aa5796-9164-4ae6-9c39-4a88b5f2c904/LISTING-CONCIERGE_2.svg" alt="lc">
  </div>
  <div class="toggle text-center"></div>
  <mat-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary">{{ message }} - {{ toDate }} </button>
  </mat-card-actions>
</mat-card>