<mat-card class="mcard">
  <mat-card-header>
    <mat-card-title>Property Website Live</mat-card-title>
    <mat-card-subtitle>1 Business Day</mat-card-subtitle>
  </mat-card-header>
  <div class="text-center">
      <img mat-card-image class="icon rounded-circle" src="https://backend.mycbdesk.com/media/app-images/53aa5796-9164-4ae6-9c39-4a88b5f2c904/LISTING-CONCIERGE_2.svg" alt="lc">
  </div>
  <mat-card-actions>
    <button mat-flat-button color="primary">{{ message }} </button>
  </mat-card-actions>
</mat-card>
