/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body {
    margin: 0;
}

.mat-card-header-text {
    font-size: 1rem;
    text-align: center !important;
    width: 100%;

}
mat-card-title {
    min-height: 4rem;
    font-size: 1.2rem !important;
    font-weight: 550 !important;
}

.mat-flat-button {
    width: 100%;
}

mat-card {
    margin-bottom: 1rem;
}

.mat-card-image {
    background-color: #eeeeee;
    width: 6rem !important;
}

mat-card-subtitle {
    text-align: center;
}

mat-card-content {
    text-align: center !important;
}