/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body {
    margin: 0
}

mat-card-header {
    margin: 0px;
}
mat-card-header-text {
    font-size: 1rem;
    margin: 0px !important;
}
mat-card-title {
    min-height: 4rem;
}

.mat-flat-button {
    width: 100%;
}

mat-card {
    margin-bottom: 1rem;
}

.mat-card-image {
    background-color: #eeeeee;
    width: 8rem !important;
}

mat-card-subtitle {
    text-align: center;
}